In [13]:
import pandas as pd
import numpy as np

# load raw training data
train_raw = pd.read_csv('data/train.csv')

In [14]:
# drop irrelivant features
cols_to_drop = ['id', 'year', 'zip.code']
train_raw = train_raw.drop(cols_to_drop, axis=1)

print("\n--DISPLAYING DATAFRAME INFO--\n")
print(train_raw.info(), "\n")

--DISPLAYING DATAFRAME INFO--

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 15 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cancel             1048575 non-null  int64
 1   house.color        1047630 non-null  object
 2   ni.age             1047573 non-null  float64
 3   len.at.res         1047608 non-null  float64
 4   credit             1047668 non-null  object
 5   coverage.type      1047595 non-null  object
 6   dwelling.type      1047582 non-null  object
 7   premium            1047618 non-null  float64
 8   sales.channel      1047550 non-null  object
 9   ni.gender          1047615 non-null  object
 10  ni.marital.status  1047581 non-null  float64
 11  n.adults           1047644 non-null  float64
 12  n.children         1047637 non-null  float64
 13  tenure             1047595 non-null  float64
 14  claim.ind          1047589 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 120.0+ MB
None

In [15]:
# missing data percentage list
print("Missing training data:")

total_pct_missing, colnum = 0, 0
for col in train_raw.columns:
    mean_missing = np.mean(train_raw[col].isnull())
    pct_missing = round(mean_missing * 100, 5) # round to 5 decimal places
    total_pct_missing += pct_missing
    
    print("{}. {} - {}%".format(colnum, col, pct_missing))
    colnum += 1

print("\n{}% missing in total\n".format(total_pct_missing))

Missing training data:
0. cancel - 0.0%
1. house.color - 0.09012%
2. ni.age - 0.09556%
3. len.at.res - 0.09222%
4. credit - 0.0865%
5. coverage.type - 0.09346%
6. dwelling.type - 0.0947%
7. premium - 0.09127%
8. sales.channel - 0.09775%
9. ni.gender - 0.09155%
10. ni.marital.status - 0.0948%
11. n.adults - 0.08879%
12. n.children - 0.08945%
13. tenure - 0.09346%
14. claim.ind - 0.09403%

1.2936600000000003% missing in total

In [16]:
# drop observations with over 0 missing values
print("--DROPPING OBSERVATIONS WITH MISSING VALUES--\n")
train_clean = train_raw.dropna()
print(train_clean.shape, "\n")

train_raw_numeric = train_raw.select_dtypes(include=[np.number])
numeric_cols = train_raw_numeric.columns.values

train_clean_non_numeric = train_clean.select_dtypes(exclude=[np.number])
non_numeric_cols = train_clean_non_numeric.columns.values

--DROPPING OBSERVATIONS WITH MISSING VALUES--

(1035101, 15)

In [17]:
# drop observations with exact same key features
print("--DROPPING DUPLICATE OBSERVATIONS--\n")
key = [feature for feature in numeric_cols if feature != "cancel"] # make sure not to include 'cancel'
train_clean = train_clean.drop_duplicates(subset=key)
print(train_clean.shape, "\n")

--DROPPING DUPLICATE OBSERVATIONS--

(1035101, 15)

Range Constraints:
- age must be within [18, 100] (tentative)
    + requires graph
- length at residence cannot be negative
    + requires graph
- premium cannot be negative
    + requires graph
- cancel must be within [0, 2]

Membership Constraints:
- not required

Cross-validation Constraints:
- tenure cannot exceed age
- length at residence cannot exceed age
- age and marital status must be legally consistent

Uniqueness Constraints:
- all observations should be unique (tentative)

Data-Type Constraints:
- all features should have consistent data-types

In [21]:
train_clean = train_clean[train_clean['ni.age'] <= 100]
train_clean = train_clean[train_clean['ni.age'] >= 18]
print(train_clean.shape, "\n")

train_clean = train_clean[train_clean['tenure'] < train_clean['ni.age']]
print(train_clean.shape, "\n")

train_clean = train_clean[train_clean['len.at.res'] < train_clean['ni.age']]
print(train_clean.shape, "\n")

train_clean = train_clean[train_clean['cancel'] >= 0]
print(train_clean.shape, "\n")

(1034242, 15)

(1034242, 15)

(1028472, 15)

(1025081, 15)

In [22]:
# verify no inconsistencies in numerical and categorical values
print("Numeric cols [{}]: {}\n".format(len(numeric_cols), numeric_cols))
for col in numeric_cols:
    print("Categories of {}: {}".format(col, train_clean[col].unique()))
    print(train_clean[col].value_counts(dropna=False), "\n")

print("Non numeric cols [{}]: {}\n".format(len(non_numeric_cols),non_numeric_cols))
for col in non_numeric_cols:
    print("Categories of {}: {}".format(col, train_clean[col].unique()))
    print(train_clean[col].value_counts(dropna=False), "\n")

Numeric cols [9]: ['cancel' 'ni.age' 'len.at.res' 'premium' 'ni.marital.status' 'n.adults'
 'n.children' 'tenure' 'claim.ind']

Categories of cancel: [0 2 1]
0    726606
2    224602
1     73873
Name: cancel, dtype: int64

Categories of ni.age: [ 37.          40.          45.          36.          51.
  34.          33.          28.          59.          30.
  52.          22.          44.          38.          64.
  49.          54.          46.          70.          60.
  55.          41.          42.          58.          56.
  50.          24.          35.          69.          39.
  57.          43.          61.          63.          31.
  87.          26.          48.          47.          53.
  25.          71.          32.          21.          66.
  23.          65.          27.          62.          80.
  67.          29.          82.          74.          68.
  83.          73.          78.          72.          97.
  98.          20.          77.          81.          85.
  19.          75.          79.          88.          99.
  84.          95.          92.          89.          76.
  86.          91.          90.          96.         100.
  82.43042432  94.          93.          18.          88.24856476
  91.03719678  68.21638233  80.51213747  99.13040231  69.35700212
  97.42280536  95.33939961  91.73234854  95.05194579  73.00519999
  83.04078376  95.01959565  87.28276509  93.43469882  81.30647735]
42.000000    35342
41.000000    35059
40.000000    34908
43.000000    34808
44.000000    34806
             ...
80.512137        1
68.216382        1
88.248565        1
82.430424        1
81.306477        1
Name: ni.age, Length: 100, dtype: int64

Categories of len.at.res: [18.         17.         14.         ... 26.32746985 39.21176577
  6.93311432]
15.000000    103749
14.000000    103617
16.000000     97082
13.000000     96647
17.000000     85572
              ...
32.666772         1
9.715150          1
3.418936          1
21.671559         1
6.933114          1
Name: len.at.res, Length: 16752, dtype: int64

Categories of premium: [ 950.5073364  909.3460457  897.0845025 ...  838.4469474 1026.26162
  907.3872129]
954.157052     2
899.764868     2
968.664587     2
1006.573351    2
1041.353486    2
              ..
893.154425     1
752.691209     1
917.594038     1
978.639730     1
907.387213     1
Name: premium, Length: 1024827, dtype: int64

Categories of ni.marital.status: [0. 1.]
1.0    727765
0.0    297316
Name: ni.marital.status, dtype: int64

Categories of n.adults: [ 2.  5.  1.  4.  3.  6.  7.  8.  9. 11. 10. 12.]
1.0     416260
2.0     278059
3.0     184675
4.0      92384
5.0      36808
6.0      12310
7.0       3414
8.0        924
9.0        204
10.0        33
11.0         8
12.0         2
Name: n.adults, dtype: int64

Categories of n.children: [ 0.  4.  2.  3.  1.  6. 11.  5.  7.  8.  9. 12. 10.]
0.0     424251
1.0     211681
2.0     133197
3.0      80677
4.0      54477
5.0      38649
6.0      24321
7.0      17784
8.0      12993
9.0       9683
10.0      7332
11.0      5665
12.0      4371
Name: n.children, dtype: int64

Categories of tenure: [15. 14. 22.  4. 16.  3.  7.  8. 12. 17.  0. 13.  1. 21.  9. 11. 20.  5.
  6. 18.  2. 10. 19. 26. 25. 24. 23. 27. 29. 31. 28. 30. 33. 32. 34.]
15.0    74792
14.0    74361
16.0    69746
13.0    69531
17.0    61624
12.0    60417
4.0     51838
18.0    51382
5.0     51110
11.0    49791
6.0     44178
3.0     41920
19.0    40657
10.0    38923
7.0     35198
9.0     31884
0.0     31661
8.0     30702
20.0    29404
2.0     25323
21.0    19666
22.0    12679
1.0     10169
23.0     7941
24.0     4676
25.0     2685
26.0     1431
27.0      730
28.0      359
29.0      165
30.0       79
31.0       32
32.0       19
33.0        7
34.0        1
Name: tenure, dtype: int64

Categories of claim.ind: [0. 1.]
0.0    820405
1.0    204676
Name: claim.ind, dtype: int64

Non numeric cols [6]: ['house.color' 'credit' 'coverage.type' 'dwelling.type' 'sales.channel'
 'ni.gender']

Categories of house.color: ['blue' 'white' 'red' 'yellow']
white     389648
blue      287192
red       255812
yellow     92429
Name: house.color, dtype: int64

Categories of credit: ['high' 'medium' 'low']
high      633971
medium    223306
low       167804
Name: credit, dtype: int64

Categories of coverage.type: ['C' 'A' 'B']
C    430174
A    348905
B    246002
Name: coverage.type, dtype: int64

Categories of dwelling.type: ['Tenant' 'Condo' 'House']
House     575576
Condo     246492
Tenant    203013
Name: dwelling.type, dtype: int64

Categories of sales.channel: ['Broker' 'Phone' 'Online']
Broker    596728
Phone     342474
Online     85879
Name: sales.channel, dtype: int64

Categories of ni.gender: ['F' 'M']
M    533420
F    491661
Name: ni.gender, dtype: int64

In [23]:
# make every category a dummy variable
print("--CREATING DUMMY VARIABLES--\n")
train_clean = pd.get_dummies(train_clean, non_numeric_cols)
print(train_clean.shape, "\n")

--CREATING DUMMY VARIABLES--

(1025081, 27)

In [24]:
# save cleaned df as csv
train_clean.to_csv('data/train_clean.csv')