In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [26]:
df = pd.read_csv('data/train6.csv')
df

,id,cancel,ni.age,len.at.res,premium,ni.marital.status,n.adults,n.children,tenure,claim.ind,ni.gender.lower,sales.channel.lower,coverage.type.lower,dwelling.type.lower,credit.lower
0,1,0,37.0,18.000000,950.507336,0.0,2.0,0.0,15.0,0.0,f,broker,c,tenant,high
1,2,0,40.0,17.000000,909.346046,1.0,5.0,0.0,15.0,0.0,f,broker,a,condo,medium
2,3,0,45.0,14.000000,897.084502,0.0,1.0,0.0,14.0,0.0,m,phone,a,house,high
3,4,0,45.0,24.366136,979.039007,0.0,5.0,0.0,22.0,1.0,m,phone,a,house,high
4,5,0,36.0,16.000000,932.379027,1.0,2.0,4.0,4.0,0.0,m,broker,c,house,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010097,1048571,0,74.0,20.000000,926.857762,0.0,3.0,0.0,19.0,0.0,f,online,a,house,high
1010098,1048572,0,44.0,14.000000,968.546580,0.0,4.0,0.0,14.0,0.0,m,broker,a,condo,high
1010099,1048573,0,63.0,18.000000,838.446947,1.0,4.0,1.0,12.0,0.0,f,broker,a,house,high
1010100,1048574,0,22.0,11.000000,1026.261620,1.0,1.0,1.0,0.0,1.0,m,online,c,house,high
1010101,1048575,0,59.0,13.000000,907.387213,1.0,1.0,3.0,19.0,0.0,m,broker,a,house,high

In [27]:
df.shape

(1010102, 15)

In [32]:
df = pd.get_dummies(df, columns=['ni.gender.lower', 'sales.channel.lower', 'coverage.type.lower', 'dwelling.type.lower', 'credit.lower'])

In [33]:
df.shape

(1010102, 24)