In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('data/train6.csv')
data

,id,cancel,ni.age,len.at.res,premium,ni.marital.status,n.adults,n.children,tenure,claim.ind,ni.gender.lower,sales.channel.lower,coverage.type.lower,dwelling.type.lower,credit.lower
0,1,0,37.0,18.000000,950.507336,0.0,2.0,0.0,15.0,0.0,f,broker,c,tenant,high
1,2,0,40.0,17.000000,909.346046,1.0,5.0,0.0,15.0,0.0,f,broker,a,condo,medium
2,3,0,45.0,14.000000,897.084502,0.0,1.0,0.0,14.0,0.0,m,phone,a,house,high
3,4,0,45.0,24.366136,979.039007,0.0,5.0,0.0,22.0,1.0,m,phone,a,house,high
4,5,0,36.0,16.000000,932.379027,1.0,2.0,4.0,4.0,0.0,m,broker,c,house,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010097,1048571,0,74.0,20.000000,926.857762,0.0,3.0,0.0,19.0,0.0,f,online,a,house,high
1010098,1048572,0,44.0,14.000000,968.546580,0.0,4.0,0.0,14.0,0.0,m,broker,a,condo,high
1010099,1048573,0,63.0,18.000000,838.446947,1.0,4.0,1.0,12.0,0.0,f,broker,a,house,high
1010100,1048574,0,22.0,11.000000,1026.261620,1.0,1.0,1.0,0.0,1.0,m,online,c,house,high
1010101,1048575,0,59.0,13.000000,907.387213,1.0,1.0,3.0,19.0,0.0,m,broker,a,house,high

In [4]:
data['cancel'].unique()

array([0, 2, 1])

In [6]:
data['ni.gender.lower'].unique()

array(['f', 'm'], dtype=object)

In [10]:
data['ni.gender.lower'] = data['ni.gender.lower'].replace({'f':0, 'm':1})
data['ni.gender.lower'].unique()

array([0, 1])

In [12]:
data['sales.channel.lower'].unique()

array(['broker', 'phone', 'online'], dtype=object)

In [14]:
data['sales.channel.lower'] = data['sales.channel.lower'].replace({'broker':0, 'phone':1, 'online':2})
data['sales.channel.lower'].unique()

array([0, 1, 2])

In [15]:
data['coverage.type.lower'].unique()

array(['c', 'a', 'b'], dtype=object)

In [17]:
data['coverage.type.lower'] = data['coverage.type.lower'].replace({'c':2, 'a':0, 'b':1})
data['coverage.type.lower'].unique()

array([2, 0, 1])

In [18]:
data['dwelling.type.lower'].unique()

array(['tenant', 'condo', 'house'], dtype=object)

In [20]:
data['dwelling.type.lower'] = data['dwelling.type.lower'].replace({'tenant':0, 'condo':1, 'house':2})
data['dwelling.type.lower'].unique()

array([0, 1, 2])

In [21]:
data['credit.lower'].unique()

array(['high', 'medium', 'low'], dtype=object)

In [23]:
data['credit.lower'] = data['credit.lower'].replace({'high':0, 'medium':1, 'low':2})
data['credit.lower'].unique()

array([0, 1, 2])

Coding Categorical Variables:

ni.gender.lower
Female = 0
Male = 1

sales.channel.lower
Broker = 0
Phone = 1
Online = 2

coverage.type.lower
c = 2
a = 0
b = 1

dwelling.type.lower
tenant = 0
condo = 1
house = 2

credit.lower
high = 0
medium = 1
low = 2