In [5]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None

# read the data
df = pd.read_csv('data/clean.csv')

# shape and data types of the data
print(df.shape)
print(df.dtypes)

# select numeric columns
df_numeric = df.select_dtypes(include=[np.number])
numeric_cols = df_numeric.columns.values
print(numeric_cols)

# select non numeric columns
df_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values
print(non_numeric_cols)

df.isnull().sum()

(2412, 14)
id                     int64
tenure               float64
claim.ind            float64
n.adults             float64
n.children             int64
ni.gender             object
ni.marital.status    float64
premium              float64
sales.channel         object
coverage.type         object
dwelling.type         object
len.at.res           float64
credit                object
ni.age               float64
dtype: object
['id' 'tenure' 'claim.ind' 'n.adults' 'n.children' 'ni.marital.status'
 'premium' 'len.at.res' 'ni.age']
['ni.gender' 'sales.channel' 'coverage.type' 'dwelling.type' 'credit']

id                   0
tenure               2
claim.ind            2
n.adults             4
n.children           0
ni.gender            1
ni.marital.status    2
premium              1
sales.channel        5
coverage.type        2
dwelling.type        1
len.at.res           3
credit               2
ni.age               3
dtype: int64

In [6]:
# make everything lower case.
df['ni.gender.lower'] = df['ni.gender'].str.lower()
df['ni.gender.lower'].value_counts(dropna=False)

m      1258
f      1153
NaN       1
Name: ni.gender.lower, dtype: int64

In [7]:
df['sales.channel.lower'] = df['sales.channel'].str.lower()
df['sales.channel.lower'].value_counts(dropna=False)

broker    1424
phone      791
online     192
NaN          5
Name: sales.channel.lower, dtype: int64

In [8]:
df['coverage.type.lower'] = df['coverage.type'].str.lower()
df['coverage.type.lower'].value_counts(dropna=False)

c      1051
a       782
b       577
NaN       2
Name: coverage.type.lower, dtype: int64

In [9]:
df['dwelling.type.lower'] = df['dwelling.type'].str.lower()
df['dwelling.type.lower'].value_counts(dropna=False)

house       1297
condo        560
tenant       467
landlord      87
NaN            1
Name: dwelling.type.lower, dtype: int64

In [10]:
df['credit.lower'] = df['credit'].str.lower()
df['credit.lower'].value_counts(dropna=False)

high      1477
medium     528
low        405
NaN          2
Name: credit.lower, dtype: int64

In [11]:
df.head()

,id,tenure,claim.ind,n.adults,n.children,ni.gender,ni.marital.status,premium,sales.channel,coverage.type,dwelling.type,len.at.res,credit,ni.age,ni.gender.lower,sales.channel.lower,coverage.type.lower,dwelling.type.lower,credit.lower
0,7583,5.0,0.0,1.0,3,F,1.0,913.623201,Broker,C,Tenant,18.0,medium,35.0,f,broker,c,tenant,medium
1,7584,15.0,1.0,1.0,4,F,1.0,1018.426114,Phone,A,House,15.0,medium,59.0,f,phone,a,house,medium
2,7585,1.0,1.0,3.0,2,M,1.0,928.418533,Broker,B,Condo,13.0,medium,27.0,m,broker,b,condo,medium
3,7586,12.0,0.0,4.0,0,M,0.0,877.649917,Broker,B,Condo,19.0,high,35.0,m,broker,b,condo,high
4,7587,11.0,0.0,1.0,9,F,1.0,947.281913,Broker,A,Condo,18.0,high,34.0,f,broker,a,condo,high

In [12]:
df.shape

(2412, 19)

In [ ]:
cols_to_drop = ['ni.gender', 'sales.channel', 'coverage.type', 'dwelling.type', 'credit']
df_new = df.drop(cols_to_drop, axis=1)
df_new.to_csv('data/cleaner.csv', index=False)