In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/test.csv')
df.head()

,id,tenure,claim.ind,n.adults,n.children,ni.gender,ni.marital.status,premium,sales.channel,coverage.type,dwelling.type,len.at.res,credit,house.color,ni.age,year,zip.code
0,7583,5.0,0.0,1.0,3,F,1.0,913.623201,Broker,C,Tenant,18.0,medium,blue,35.0,2017,85066.0
1,7584,15.0,1.0,1.0,4,F,1.0,1018.426114,Phone,A,House,15.0,medium,white,59.0,2017,98013.0
2,7585,1.0,1.0,3.0,2,M,1.0,928.418533,Broker,B,Condo,13.0,medium,blue,27.0,2017,15049.0
3,7586,12.0,0.0,4.0,0,M,0.0,877.649917,Broker,B,Condo,19.0,high,blue,35.0,2017,15026.0
4,7587,11.0,0.0,1.0,9,F,1.0,947.281913,Broker,A,Condo,18.0,high,red,34.0,2017,15025.0

In [3]:
cols_to_drop = ['house.color', 'year', 'zip.code']
df = df.drop(cols_to_drop, axis=1)

In [4]:
df.head()

,id,tenure,claim.ind,n.adults,n.children,ni.gender,ni.marital.status,premium,sales.channel,coverage.type,dwelling.type,len.at.res,credit,ni.age
0,7583,5.0,0.0,1.0,3,F,1.0,913.623201,Broker,C,Tenant,18.0,medium,35.0
1,7584,15.0,1.0,1.0,4,F,1.0,1018.426114,Phone,A,House,15.0,medium,59.0
2,7585,1.0,1.0,3.0,2,M,1.0,928.418533,Broker,B,Condo,13.0,medium,27.0
3,7586,12.0,0.0,4.0,0,M,0.0,877.649917,Broker,B,Condo,19.0,high,35.0
4,7587,11.0,0.0,1.0,9,F,1.0,947.281913,Broker,A,Condo,18.0,high,34.0

In [5]:
#data['ni.gender.lower'] = data['ni.gender'].str.lower()
#data['sales.channel.lower'] = data['sales.channel'].str.lower()
#data['coverage.type.lower'] = data['coverage.type'].str.lower()
#data['dwelling.type.lower'] = data['dwelling.type'].str.lower()
#data['credit.lower'] = data['credit'].str.lower()

In [7]:
#cols_to_drop = ['ni.gender', 'sales.channel', 'coverage.type', 'dwelling.type', 'credit']
#data_new = data.drop(cols_to_drop, axis=1)

In [8]:
#data_new.head()

,id,tenure,claim.ind,n.adults,n.children,ni.marital.status,premium,len.at.res,ni.age,ni.gender.lower,sales.channel.lower,coverage.type.lower,dwelling.type.lower,credit.lower
0,7583,5.0,0.0,1.0,3,1.0,913.623201,18.0,35.0,f,broker,c,tenant,medium
1,7584,15.0,1.0,1.0,4,1.0,1018.426114,15.0,59.0,f,phone,a,house,medium
2,7585,1.0,1.0,3.0,2,1.0,928.418533,13.0,27.0,m,broker,b,condo,medium
3,7586,12.0,0.0,4.0,0,0.0,877.649917,19.0,35.0,m,broker,b,condo,high
4,7587,11.0,0.0,1.0,9,1.0,947.281913,18.0,34.0,f,broker,a,condo,high

In [9]:
#data_new['ni.gender.lower'].unique()

array(['f', 'm', nan], dtype=object)

In [10]:
#data_new['ni.gender'] = data['ni.gender.'].replace({'f':0, 'm':1})

In [11]:
#data_new['sales.channel.lower'].unique()

array(['broker', 'phone', 'online', nan], dtype=object)

In [12]:
#data_new['sales.channel.lower'] = data['sales.channel.lower'].replace({'broker':0, 'phone':1, 'online':2})

In [13]:
#data_new['coverage.type.lower'].unique()

array(['c', 'a', 'b', nan], dtype=object)

In [14]:
#data_new['coverage.type.lower'] = data['coverage.type.lower'].replace({'c':2, 'a':0, 'b':1})

In [15]:
#data_new['dwelling.type.lower'].unique()

array(['tenant', 'house', 'condo', 'landlord', nan], dtype=object)

In [16]:
#data_new['dwelling.type.lower'] = data['dwelling.type.lower'].replace({'tenant':0, 'condo':1, 'house':2, 'landlord':3})

In [17]:
#data_new['credit.lower'].unique()

array(['medium', 'high', 'low', nan], dtype=object)

In [18]:
#data_new['credit.lower'] = data['credit.lower'].replace({'high':0, 'medium':1, 'low':2})

In [5]:
df['ni.gender'] = df['ni.gender'].replace({'F':0, 'M':1})
df['sales.channel'] = df['sales.channel'].replace({'Broker':0, 'Phone':1, 'Online':2})
df['coverage.type'] = df['coverage.type'].replace({'C':2, 'A':0, 'B':1})
df['dwelling.type'] = df['dwelling.type'].replace({'Tenant':0, 'Condo':1, 'House':2, 'Landlord':3})
df['credit'] = df['credit'].replace({'high':0, 'medium':1, 'low':2})

In [6]:
data_new = df.fillna(0)

In [7]:
data_new.isnull().sum()

id                   0
tenure               0
claim.ind            0
n.adults             0
n.children           0
ni.gender            0
ni.marital.status    0
premium              0
sales.channel        0
coverage.type        0
dwelling.type        0
len.at.res           0
credit               0
ni.age               0
dtype: int64

In [8]:
df.head()

,id,tenure,claim.ind,n.adults,n.children,ni.gender,ni.marital.status,premium,sales.channel,coverage.type,dwelling.type,len.at.res,credit,ni.age
0,7583,5.0,0.0,1.0,3,0.0,1.0,913.623201,0.0,2.0,0.0,18.0,1.0,35.0
1,7584,15.0,1.0,1.0,4,0.0,1.0,1018.426114,1.0,0.0,2.0,15.0,1.0,59.0
2,7585,1.0,1.0,3.0,2,1.0,1.0,928.418533,0.0,1.0,1.0,13.0,1.0,27.0
3,7586,12.0,0.0,4.0,0,1.0,0.0,877.649917,0.0,1.0,1.0,19.0,0.0,35.0
4,7587,11.0,0.0,1.0,9,0.0,1.0,947.281913,0.0,0.0,1.0,18.0,0.0,34.0

In [19]:
data_new.to_csv('data/new_test_for_random_forest.csv', index=False)