In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/train_without_id.csv')
df.head()

,cancel,ni.age,len.at.res,premium,ni.marital.status,n.adults,n.children,tenure,claim.ind,ni.gender.lower,sales.channel.lower,coverage.type.lower,dwelling.type.lower,credit.lower
0,0,37.0,18.000000,950.507336,0.0,2.0,0.0,15.0,0.0,f,broker,c,tenant,high
1,0,40.0,17.000000,909.346046,1.0,5.0,0.0,15.0,0.0,f,broker,a,condo,medium
2,0,45.0,14.000000,897.084502,0.0,1.0,0.0,14.0,0.0,m,phone,a,house,high
3,0,45.0,24.366136,979.039007,0.0,5.0,0.0,22.0,1.0,m,phone,a,house,high
4,0,36.0,16.000000,932.379027,1.0,2.0,4.0,4.0,0.0,m,broker,c,house,high

In [3]:
df.shape

(1010102, 14)

In [4]:
cols_to_drop = ['ni.age', 'len.at.res', 'premium']
df_new = df.drop(cols_to_drop, axis=1)
df_new.to_csv('train_without_id_or_VIF.csv', index=False)

In [5]:
df.shape

(1010102, 14)